[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/zarco/Área de Trabalho/Mail Box.desktop]
row=2
col=0

[/home/zarco/Área de Trabalho/arquivo.txt]
row=3
col=0

[Lixeira]
row=0
col=0

[/home/zarco]
row=1
col=0

